In [2]:
import pandas as pd
raw_test = pd.read_parquet('test-00000-of-00001-cb0233e05c1cc1c9.parquet', engine='fastparquet')
raw_train = pd.read_parquet('train-00000-of-00001-49baa0648effea14.parquet', engine='fastparquet')

In [19]:
all = pd.concat([raw_test,raw_train])
df = all.loc[:,['post_date','tweet','ticker_symbol']]
df.head()

    post_date                                              tweet ticker_symbol
0  2019-03-07                                 There we go  $TSLA          TSLA
1  2016-11-28  rubicon59: equityaddict Should I compare to $a...          AMZN
2  2018-04-28  After #Flipkart buy is $WMT eying $EBAY which ...          AMZN
3  2019-07-16  Tesla “we were able to cut costs by firing eve...          TSLA
4  2018-05-02  $TSLA - A call for the history books - this ti...          TSLA

In [20]:
print(df.dtypes)
print(df.shape)
# df['tweet'] = df['tweet'].astype('str') 
df['ticker_symbol'] = df['ticker_symbol'].astype('str') 
df['post_date'] = pd.to_datetime(df['post_date'], format='%Y-%m-%d', errors='coerce')
df = df.dropna()
print(df.dtypes)
print(df.shape)
df.to_csv('all.csv')

post_date        object
tweet            object
ticker_symbol    object
dtype: object
(120000, 3)
post_date        datetime64[ns]
tweet                    object
ticker_symbol            object
dtype: object
(93133, 3)

In [24]:
df_sum = df.groupby(['ticker_symbol','post_date']).count().groupby('ticker_symbol')['tweet'].mean()
a = pd.DataFrame(df_sum)
a.columns=['averge tweets per day']
print(a)

print(df['ticker_symbol'].unique())

               averge tweets per day
ticker_symbol
AAPL                       15.036786
AMZN                        7.618270
GOOG                        4.821138
MSFT                        2.676543
TSLA                       24.746260
['TSLA' 'AMZN' 'AAPL' 'GOOG' 'MSFT']